In [1]:
import numpy as np
import pandas as pd
import os

In [3]:
# folder_path = "data_raw/daily"
# dataframes = []

# for file_name in os.listdir(folder_path):
#     if file_name.endswith(".xlsx"):
#         file_path = os.path.join(folder_path, file_name)
#         df = pd.read_excel(file_path, skiprows=6)
#         df['Ticker'] = file_name[:-5]  # Add a column with the file name
#         dataframes.append(df)
        
# concatenated_df = pd.concat(dataframes, ignore_index=True)
# concatenated_df = concatenated_df.rename(columns={"PX_LAST": "Price", "PX_VOLUME": "Volume"})
# concatenated_df.dropna(subset=['Price'], inplace=True)
# concatenated_df

In [2]:
# concatenated_df.to_csv("data_clean/long_format_daily.csv", index=False)

In [5]:
folder_path = "data_raw/paper_data"
dataframes = []

for file_name in os.listdir(folder_path):
    if file_name.endswith(".xlsx"):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_excel(file_path, skiprows=6)
        df['Ticker'] = file_name[:-5]  # Add a column with the file name
        dataframes.append(df)
        
concatenated_df = pd.concat(dataframes, ignore_index=True)
concatenated_df = concatenated_df.rename(columns={"PX_LAST": "Price", "PX_VOLUME": "Volume"})
concatenated_df.dropna(subset=['Price'], inplace=True)
concatenated_df

            Date     Price     Volume Ticker
0     2023-05-23  2087.940        NaN    AGG
1     2023-05-22  2086.200        NaN    AGG
2     2023-05-19  2087.180        NaN    AGG
3     2023-05-18  2092.610        NaN    AGG
4     2023-05-17  2102.590        NaN    AGG
...          ...       ...        ...    ...
25993 2001-06-06    58.420   557000.0    VTI
25994 2001-06-05    58.905  1124800.0    VTI
25995 2001-06-04    58.025  2036400.0    VTI
25996 2001-06-01    57.785  5084400.0    VTI
25997 2001-05-31    57.400  4914400.0    VTI

[25998 rows x 4 columns]

In [6]:
concatenated_df.to_csv("data_clean/long_format_daily_original_paper_data.csv", index=False)