In [2]:
import numpy as np
import pandas as pd
import os

In [21]:
folder_path = "data_raw/daily"
dataframes = []

for file_name in os.listdir(folder_path):
    if file_name.endswith(".xlsx"):
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_excel(file_path, skiprows=6)
        df['Ticker'] = file_name[:-5]  # Add a column with the file name
        dataframes.append(df)
        
concatenated_df = pd.concat(dataframes, ignore_index=True)
concatenated_df = concatenated_df.rename(columns={"PX_LAST": "Price", "PX_VOLUME": "Volume"})
concatenated_df.dropna(subset=['Price'], inplace=True)
concatenated_df

             Date      Price       Volume    Ticker
0      2023-05-23  9439.3400  461224007.0  RU20INTR
1      2023-05-22  9479.5400  441930053.0  RU20INTR
2      2023-05-19  9364.9600  469700846.0  RU20INTR
3      2023-05-18  9423.4400  424736858.0  RU20INTR
4      2023-05-17  9367.6600  489863064.0  RU20INTR
...           ...        ...          ...       ...
245396 1980-05-30   102.5678          NaN    LMBITR
245397 1980-04-30    97.8914          NaN    LMBITR
245398 1980-03-31    87.2312          NaN    LMBITR
245399 1980-02-29    92.0016          NaN    LMBITR
245400 1980-01-31    99.8098          NaN    LMBITR

[237852 rows x 4 columns]

In [23]:
concatenated_df.to_csv("data_clean/long_format_daily.csv", index=False)